*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.field{
    /*border: solid 1px black;*/
}
.field__cell{
    /*width: 10px;*/
    /*height: 10px;*/
    border: solid 1px gray;
    background: white;
}

.field__cell_alive{
    background: black;
}

.field__row{
    display: flex;
}