*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.field__cell{
    width: 25px;
    height: 25px;
    border: solid 1px black;
    background: white;
}

.field__cell_alive{
    background: black;
}

.field__row{
    display: flex;
}