*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.field{
    /*border: solid 1px black;*/
}
.field__cell{
    /*width: 10px;*/
    /*height: 10px;*/
    border: solid 1px gray;
    background: white;
}

.field__cell_alive{
    background: black;
}

.field__row{
    display: flex;
}

.interface{
    position: absolute;
    top: 50px;
    left: 50px;
    padding: 20px;
    background: #7c8049;
    border-radius: 5px;
    color: #482100;
}
.interface form{
    display: flex;
    flex-direction: column;
    width: 200px;
}